<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Post</title>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <header>
      <% include ./partials/header.ejs %>
    </header>
    <div class="container">

    <div class="show-posts">

    <h1>Current Image</h1>
    <img src="<%= meme.url %>" alt="meme image">

    <h2>Edit Post</h2>
    <hr>

    <form action="/home/meme/<%=meme.id%>?_method=PUT" method="post">
      <div class="form-group">
        <label for="author">Author: </label>
        <input type="text" class="form-control" name="posted_by" value="<%=meme.posted_by%>">
      </div>

      <div class="form-group">
        <label for="image">Image URL: </label>
        <input type="text" class="form-control" name="url" value="<%=meme.url%>">
      </div>

      <div class="addComment">
        <button class="updateBtn" type="Submit">Update Post</button>
      </div>

    </form>

    <hr>
    <h2>Delete Comments</h2>
    <div class="comments">
    <% for (let comment of comments) { %>
      <div class="comment">
        <b><%= comment.author %></b>
        <p>: <%= comment.content %></p>
      </div>
      <div class="del-comment">
        <form action="/comments/<%=comment.id%>?_method=DELETE" method="post">
          <button class="del-btn">Delete</button>
        </form>
      </div>
    <% } %>
    </div>

    <hr>
    <form action="/home/meme/<%=meme.id%>?_method=DELETE" method="post">
      <button class="del-btn">Delete Post</button>
    </form>
    </div>
    </div>
  </body>
</html>
